<!DOCTYPE html>


<html>
　<head>
    <meta charset="UTF-8" />
    <scyipt></scyipt>
    <link rel="" href="" />


    <title>課題２BOOKERS</title>
  </head>


  <body>
    <h1>ようこそ　BOOKERS へ！！</h1>
      <p>
      Bookers では、さまざまな書籍に関するあなたの意見や<br>
      <br>
      印象を共有し交換することができます<br>
      </p>
      
      <p>
      <a href="/books" >start</a>
      </p>

</body>






</html>