<!DOCTYPE html>


<html>
　<head>
    <meta charset="UTF-8" />
    <scyipt></scyipt>
    <link rel="" href="" />


    <title>課題２BOOKERS</title>
  </head>


  <body>
    <h1>ようこそ　Bookers へ！！</h1>
    
    <div class="text-top">
      <p>
      <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>
      <br>
       印象を共有し交換することができます<br>
      </p>
    </div> 
    
    <div class="start-top">
      <p>
      <a href="/books" >start</a>
      </p>
      </div>

</body>






</html>